body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    /* vendor prefixes */
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main_menu {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 40%;
    height: 45%;
    left: 30%;
    top: 30%;
    background: rgba(255, 250, 235, 0.7);
    border: 3px solid #000000;
    border-radius: 15px;
}

#logo {
    position: static;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 220%;
    z-index: 110;
    width: 100%;
    font-family: "lucida console", Courier, monospace;
    text-decoration: none;
    color: black;
}

#player_wrap {
    position: fixed;
    width: 100%;
    left: 30%;
    height: 60px;
}


#connection_check_text {
    position: fixed;
    left: 0;
    bottom: 120px;
    margin: 5px;
    width: 120px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

#connection_check_response {
    position: fixed;
    left: 120px;
    margin: 5px;
    bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

#connection_check {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 5px;
    width: 120px;
    opacity: 0.4;
}

#connection_check:hover {
    opacity: 0.8;
}

#player_text {
    position: relative;
    top: -20px;
    height: 100%;
    display: inline;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#player_wrap audio {
    width: 30%;
    height: 100%;
    display: inline;
}

#main_menu_inside {
    position: static;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#local_storage_container {
    position: static;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

#buttons_wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 10%;
}

/* Transitions */
#back_to_menu {
    position: fixed;
    margin: 10px;
    padding: 0;
    top: 0;
    left: 0;
    width: 130px;
    transition: 0.3s all ease;
}

/* Transform */
#back_to_menu:hover {
    transform: scale(1.15);
}


#button_generate {
    position: absolute;
    left: 10%;
    width: 30%;
}

#button_show_storage {
    position: absolute;
    left: 60%;
    width: 30%;
}

#button_back_from_loading {
    position: relative;
    width: 40%;
    left: 30%;
    top: 20px;
}

.button_style {
    padding: 15px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Arial, serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #EEEEEE;
    color: black;
    border-radius: 15px;
    border: 1px solid #363636;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
}

#message {
    position: static;
    padding: 0 0 20px 15px;
}

#control_panel {
    position: fixed;
    top: 20%;
    left: 1%;
    visibility: hidden;
    width: 150px;
}

#maze_canvas {
    position: fixed;
}

#slider_wrap {
    position: fixed;
    bottom: 0px;
    width: 40%;
    left: 30%;
    visibility: hidden;
}

/* Use of CSS selectors: */
#slider_wrap div:first-child {
    position: relative;
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
}


#slider_wrap div + input {
    margin: 10px 0;
    padding: 0;
    position: relative;
    float: left;
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#slider_wrap div + input:hover {
    opacity: 1;
}

/* vendor prefixes */
#slider_wrap div + input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #00ff0c;
    cursor: pointer;
    border-radius: 50%;
}

#slider_wrap div + input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #00ff0c;
    cursor: pointer;
    border-radius: 50%;
}

#slider_wrap div:last-child {
    position: relative;
    float: right;
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
    width: 10%;
    text-align: center;
}

#volume_on, #volume_off {
    position: fixed;
    margin: 10px;
    padding: 0;
    top: 0;
    right: 0;
    width: 150px;
}

.input_line {
    position: static;
    margin: 10px;
    padding: 3px 0 8px 20px;
    left: 0;
}

.saved_maze {
    position: static;
    padding: 0 0 4px 20px;
    margin: 0;
}

.saved_maze_btn {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 40%;
    width: 70px;
}

.saved_maze_del_btn {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 20%;
    width: 70px;
}

.control_btn {
    position: static;
    margin: 0 0 18px 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 20px;
}

/*
Media queries

Change main_menu width for smaller laptops
Canvas proportions and changes are set in JavaScript
*/
@media (max-width: 1367px) {
    #main_menu {
        width: 60%;
        left: 20%;
    }
}
